# Configuration Matrix/Tchap
MATRIX_HOME_SERVER=https://matrix.agent.dev-durable.tchap.gouv.fr
MATRIX_BOT_USERNAME=@colaig.assistant-developpement-durable.gouv.fr:agent.dev-durable.tchap.gouv.fr
MATRIX_BOT_PASSWORD=mot_de_passe_colaig
USER_ALLOWED_DOMAINS=["votre_domaine.gouv.fr"]
ERRORS_ROOM_ID="!votre_salon_erreurs:dev01.tchap.incubateur.net"
GROUPS_USED=basic,albert,document

# Configuration Albert API
ALBERT_API_URL=https://api.albert.etalab.gouv.fr/v1
ALBERT_API_TOKEN=votre_token_api
ALBERT_MODEL=meta-llama/Llama-3.1-8B-Instruct
ALBERT_MODEL_EMBEDDING=BAAI/bge-m3

# Configuration WebDAV (production)
WEBDAV_URL=https://mel.din.developpement-durable.gouv.fr/mdrive/remote.php/dav/files/colaig.assistant
WEBDAV_USERNAME=colaig.assistant
WEBDAV_PASSWORD=mot_de_passe_colaig
WEBDAV_ROOT_PATH=/dossier_racine_de_l_espace_de_travail

# Configuration WebDAV (développement)
WEBDAV_DEV_USERNAME=colaig.assistant
WEBDAV_DEV_PASSWORD=mot_de_passe_colaig 