# SPDX-FileCopyrightText: 2023 Pôle d'Expertise de la Régulation Numérique <contact.peren@finances.gouv.fr>
# SPDX-FileCopyrightText: 2024 Etalab <etalab@modernisation.gouv.fr>
#
# SPDX-License-Identifier: CC0-1.0

LOG_LEVEL=10
JOIN_ON_INVITE=True
SALT=b"\xce,\xa1\xc6lY\x80\xe3X}\x91\xa60m\xa8N"
MATRIX_HOME_SERVER=https://matrix.dev01.tchap.incubateur.net
MATRIX_BOT_USERNAME=@your.name-developpement-durable.gouv.fr:dev01.tchap.incubateur.net
MATRIX_BOT_PASSWORD=your_password
ERRORS_ROOM_ID="!zaNxzpyBMssZISzjgw:dev01.tchap.incubateur.net"
USER_ALLOWED_DOMAINS=["developpement-durable.gouv.fr"]
GROUPS_USED=["basic", "albert"]


ALBERT_API_URL=https://albert.api.etalab.gouv.fr/v1
ALBERT_API_TOKEN=your_api_key
ALBERT_MODEL=meta-llama/Llama-3.1-8B-Instruct

WEBDAV_URL=https://mel.din.developpement-durable.gouv.fr/mdrive/remote.php/dav/files/nicolas.laval
WEBDAV_USERNAME=your_name@developpement-durable.gouv.fr
WEBDAV_PASSWORD=your_password
WEBDAV_ROOT_PATH=/dossiers-espace-demonstration-2
WEBDAV_INDEX_NAME=index.json

# Configuration du mode RAG
ALBERT_MODE=rag
ALBERT_WITH_HISTORY=true
ALBERT_HISTORY_LOOKUP=0
ALBERT_MAX_REWIND=20

# Embedding config
ALBERT_MODEL_EMBEDDING=BAAI/bge-m3
EMBEDDING_DIMENSION=1024
EMBEDDING_CACHE_DURATION=24
EMBEDDING_CACHE_SIZE=10000
EMBEDDING_BATCH_SIZE=20

# Index config
INDEX_DIR=.index
CHUNK_SIZE=1000
